---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
  id="about"
  class="flex bg-black text-white/80 flex-col md:flex-row-reverse gap-[15vw] sm:gap-[10vw] md:gap-0 relative items-center"
>
  <div class="w-full md:w-1/2 lg:w-1/2">
    <img
      src="/images/restaurant4.jpg"
      class="inset-0 w-full sm:h-[60vw] md:h-screen aspect-square sm:aspect-auto object-cover"
    />
  </div>
  <div class="flex flex-col gap-[5vw] 2xl:gap-[2vw] mb-[15vw] sm:mb-[10vw] md:mb-0 px-[5vw] text-lg md:w-1/2 lg:w-1/2">
    <h2 class="text-3xl md:text-4xl font-bold uppercase">{t("about.title")}</h2>
    <p class="md:text-base">{t("about.firstp")}</p>
    <p class="md:text-base">{t("about.secondp")}</p>
  </div>
</section>
