---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
  id="about"
  class="flex flex-col lg:flex-row p-[5vw] gap-[5vw] relative items-center"
>
  <div class="w-full lg:w-1/2">
    <img
      src="/images/menu1.webp"
      class="rounded-xl inset-0 w-full aspect-square object-cover"
    />
  </div>
  <div class="flex flex-col gap-[2vw] text-lg lg:w-1/2">
    <h2 class="text-3xl font-medium">{t("about.title")}</h2>
    <p class="2xl:w-2/3">{t("about.firstp")}</p>
    <p class="2xl:w-2/3">{t("about.secondp")}</p>
  </div>
  <video
    class="absolute inset-0 w-full h-full object-cover -z-10 invert"
    autoplay
    muted
    loop
    playsinline
  >
    <source src="/videos/background2.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
</section>
