---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
  id="about"
  class="relative items-start overflow-hidden bg-black scroll-offset px-[2vw] py-20 flex flex-col lg:flex-row gap-8 md:items-center md:justify-between lg:justify-start opacity-0 translate-y-4 transition-all duration-700 will-change-transform fade-in-section text-center"
>
  <img
    src="/images/restaurant4.jpg"
    class="object-cover w-full lg:w-[50vw] h-[60vw] lg:h-[50vw]"
  />
  <div class="flex px-[2vw] text-lg text-start lg:w-[30vw] flex-col gap-10">
    <h2 class="text-black text-3xl font-medium">
      {t("about.title")}
    </h2>
    <p class="text-black font-light md:text-xl lg:text-lg lg:px-0 lg:mr-10">
      {t("about.firstp")}
    </p>
    <p class="text-black font-light md:text-xl lg:text-lg lg:px-0 lg:mr-10">
      {t("about.secondp")}
    </p>
  </div>
  <video
    class="absolute inset-0 w-full h-full object-cover -z-10 invert"
    autoplay
    muted
    loop
    playsinline
  >
    <source src="/videos/background2.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
</section>
