<section
  id="about"
  class="relative overflow-hidden bg-black scroll-offset px-10 py-20 xl:px-50 2xl:px-100 xl:py-50 flex flex-col gap-8 md:items-center md:justify-between opacity-0 translate-y-4 transition-all duration-700 will-change-transform fade-in-section uppercase text-center"
>
  <h2 class="text-white text-3xl font-bold mb-5">About K’i’ik</h2>
  <div class="flex flex-col xl:flex-row gap-10 xl:items-center">
    <p
      class="text-white font-light md:text-xl md:px-30 lg:px-50 xl:px-0 xl:w-1/2"
    >
      At K’i’ik, guests are invited to indulge in a refined culinary journey set
      within the timeless charm of Mérida’s historic center. Our restaurant
      combines world-class gastronomy with the warmth and elegance of Yucatecan
      architecture, creating an atmosphere that is both luxurious and welcoming.
    </p>
    <p
      class="text-white font-light md:text-xl md:px-30 lg:px-50 xl:px-0 xl:w-1/2"
    >
      Every dish is crafted from the finest locally sourced ingredients, paired
      with carefully selected international products to deliver flavors that are
      both authentic and innovative. From attentive service to a thoughtfully
      designed space, K’i’ik is dedicated to providing a complete dining
      experience that is memorable, sophisticated, and distinctly Mérida.
    </p>
  </div>
  <video
    class="absolute inset-0 w-full h-full object-cover -z-10"
    autoplay
    muted
    loop
    playsinline
  >
    <source src="/videos/background2.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
</section>
