---
const year = new Date().getFullYear();
---

<footer
  class="p-10 border-t border-white/20 bg-black flex flex-col gap-5 items-center text-white opacity-0 translate-y-4 transition-all duration-700 will-change-transform fade-in-section"
>
  <h2 class="text-2xl font-bold">K’i’ik</h2>
  <address class="not-italic text-center font-bold text-sm">
    [Restaurant Address], Historic Center, Mérida, Yucatán<br />
    Monday to Saturday: [Opening Time] - [Closing Time]
  </address>
  <div class="text-center text-sm mt-10">
    © {year} K’i’ik — All rights reserved.
  </div>
</footer>
