---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
  id="ubicacion"
  class="text-black scroll-offset items-start px-10 md:px-30 lg:px-50 xl:px-80 pt-50 pb-10 2xl:py-70 flex flex-col gap-20 opacity-0 translate-y-4 transition-all duration-700 will-change-transform fade-in-section"
>
  <img
    class="absolute inset-0 w-full h-full object-cover z-[-5] invert"
    src="/images/map.png"
  />
  <div>
    <h2 class="text-xl font-bold 2xl:text-2xl">{t("location.title")}</h2>
    <p class="text-sm 2xl:text-base">
      {t("location.desc")}
    </p>
  </div>
  <a
    href="https://www.google.com/maps"
    target="_blank"
    referrerpolicy="no-referrer"
    class="border text-black text-sm 2xl:text-base font-bold w-max py-2 px-4 hover:bg-yellow-600 hover:border-yellow-600 hover:text-white"
    >{t("location.button")}</a
  >
  <button
    id="scrollToTop"
    class="text-5xl border font-extrabold rounded-full aspect-square p-2 hover:bg-white/80"
    >↑</button
  >
</section>

<script>
  import { initScrollToTop } from "../scripts/initScrollToTop";
  initScrollToTop();
</script>
