---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import Carousel from "../components/Carousel.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
  class="flex flex-col md:flex-row items-center lg:flex-row relative gap-[15vw] sm:gap-[10vw] md:gap-0 bg-white text-black 2xl:justify-end"
>
  <Carousel />
  <div
    class="flex px-[5vw] flex-col gap-[5vw] sm:gap-[2vw] text-lg items-start lg:items-start justify-center md:w-1/2"
  >
    <h2 class="text-3xl md:text-4xl font-bold uppercase">{t("menu.title")}</h2>
    <p class="md:text-base">{t("menu.desc")}</p>
    <a
      href="/menu"
      class="font-bold mb-[15vw] sm:mb-[10vw] md:mb-0 text-sm border md:border-2 bg-white hover:bg-black text-black hover:text-white w-max py-2 px-8 uppercase transition-colors duration-300"
      >{t("menu.button")}</a
    >
  </div>
</section>
