<section
  id="menu"
  class="bg-black scroll-offset text-white py-30 xl:py-50 2xl:py-70 px-10 flex flex-col items-center gap-5 text-center relative uppercase"
>
  <img
    src="/images/menu6.webp"
    class="absolute inset-0 w-full h-full object-cover opacity-50"
  />
  <h2 class="text-2xl font-bold z-5 md:text-3xl">MENU</h2>
  <p class="z-5 md:px-30 lg:px-50 xl:px-80 md:text-xl">
    Culinary artistry and passionate service come together in Mérida’s historic
    heart, offering a dining experience that blends local heritage with modern
    sophistication.
  </p>
  <a
    href="/menu"
    class="z-5 bg-white text-black font-bold text-sm py-2 px-5 hover:bg-yellow-600 hover:text-white"
    >MENU</a
  >
</section>
