---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
  id="menu"
  class="bg-white pb-5 scroll-offset text-gray-800 xl:py-50 2xl:py-70 flex flex-col items-start justify-center gap-5 text-start relative 2xl:h-350"
>
  <img
    src="/images/menu7.webp"
    class="w-full h-[120vw] object-cover 2xl:hidden"
  />
  <div
    class="hidden 2xl:grid grid-cols-2 absolute inset-0 w-full h-full opacity-50"
  >
    <img src="/images/menu7.webp" class="w-full h-full object-cover" />
    <div class="grid grid-rows-2">
      <img src="/images/menu8.webp" class="w-full h-full object-cover" />
      <img src="/images/menu9.webp" class="w-full h-full object-cover" />
    </div>
  </div>
  <h2 class="text-2xl mx-5 font-bold z-5 md:text-3xl 2xl:text-5xl">
    {t("menu.title")}
  </h2>
  <p
    class="z-5 text-lg mx-5 md:px-30 lg:px-50 xl:px-80 2xl:px-100 md:text-xl 2xl:text-3xl"
  >
    {t("menu.desc")}
  </p>
  <a
    href="/menu"
    class="z-5 border border-gray-800 font-bold text-sm py-2 px-5 mx-5 hover:bg-yellow-600 hover:border-yellow-600 hover:text-white 2xl:text-2xl"
    >{t("menu.button")}</a
  >
</section>
